Flask
Flask-SocketIO
pandas
numpy
playwright
pywin32
Pillow
pytesseract
pyautogui
pyperclip
PyGetWindow
eventlet
msal
python-dotenv
playwright
xlwings
msal
xlwings
dotenv
jsonify
folium
sqlite3
APScheduler