<div class="modal fade" id="modal-tablas" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-titulo"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="form-gestion" onsubmit="return false;">
            <input type="hidden" id="edit-id">

            <div class="mb-3">
                <label for="edit-nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="edit-nombre" required>
            </div>

            <div class="mb-3" id="campo-contratista" style="display: none;">
                <label for="edit-contratista" class="form-label">Contratista</label>
                <select class="form-select" id="edit-contratista" required>
                    <!-- Las opciones se cargarán dinámicamente con JavaScript -->
                </select>
            </div>
            
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="btn-guardar">Guardar</button>
        </div>
        </div>
    </div>
</div>