<div class="grid-stack-item-content">
    <div class="d-flex justify-content-between align-items-center ps-3 pt-2 pe-3">
        <h5 class="text-muted mb-0">Curvas de Avance Físico (%)</h5>
        <button id="toggle-labels-fisico" class="btn btn-outline-secondary btn-sm" title="Mostrar/Ocultar etiquetas de datos">
            <i class="bi bi-tag-fill"></i>
        </button>
    </div>
    <div style="position: relative; height: 85%;">
        <canvas id="chartAvanceFisico"></canvas>
    </div>
</div>