<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Gestión de Beneficiarios</h5>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-primary me-2" id="btn-agregar-beneficiario" title="Agregar nuevo beneficiario">
                <i class="bi bi-plus-circle-fill me-2"></i>Agregar beneficiario
            </button>
        
            <button class="btn btn-success me-2" id="btn-subir-beneficiarios" title="Subir desde Excel">
                <i class="bi bi-cloud-arrow-up-fill me-2"></i>Subir
            </button>
            
            <input type="file" id="input-file-beneficiarios" style="display: none;" accept=".xlsx, .csv">

            <button class="btn btn-primary" id="btn-descargar-beneficiarios" title="Descargar a Excel">
                <i class="bi bi-cloud-arrow-down-fill me-2"></i>Descargar
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabla-beneficiarios" class="table table-striped table-bordered dt-responsive" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>N° Benef.</th>
                        <th>Nombre Completo</th>
                        <th>RUT</th>
                        <th>Inst. Interior</th>
                        <th>LBT</th>
                        <th>LMT</th>
                        <th>Empalme</th>
                        <th>Aum. Potencia</th>
                        <th>Servidumbre</th>
                        <th>Comentario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>