<div id="gantt_toolbar" class="d-flex justify-content-between align-items-center mb-2">
    <div class="btn-group btn-group-sm" role="group">
        <button id="add_task_btn" type="button" class="btn btn-primary">
            <i class="bi bi-plus-lg me-1"></i>Añadir Tarea
        </button>
    </div>
    <div class="btn-group btn-group-sm" role="group">
        <button data-zoom-level="day" type="button" class="btn btn-outline-secondary">Día</button>
        <button data-zoom-level="week" type="button" class="btn btn-outline-secondary">Semana</button>
        <button data-zoom-level="month" type="button" class="btn btn-outline-secondary">Mes</button>
        <button data-zoom-level="year" type="button" class="btn btn-outline-secondary">Año</button>
    </div>
    <div class="btn-group btn-group-sm">
        <button id="delete_selected_btn" class="btn btn-danger">
            <i class="bi bi-trash me-1"></i> Eliminar Seleccionados
        </button>
    </div>
</div>

<div id="gantt_here" style="width:100%; height:75vh;"></div>